@using Microsoft.AspNetCore.Identity
@using GlowCare.Entities.Models
@inject UserManager<GlowUser> userManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GlowCare</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GlowCare.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">

    <link rel="stylesheet" href="~/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/slick/slick.css">
    <link rel="stylesheet" href="~/slick/slick-theme.css">
    <link rel="stylesheet" href="~/css/procedureForm.css">
    <link rel="stylesheet" href="~/css/datepicker.css">
    <link rel="stylesheet" href="~/css/tooplate-style.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand mr-auto" asp-controller="Home" asp-action="Index">
                <img class="img-logo-card" src="~/img/logo-removebg-preview.png" alt="Site logo">
                GlowCare
            </a>

            <button type="button" id="nav-toggle" class="navbar-toggler collapsed"
                    data-toggle="collapse" data-target="#mainNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="mainNav" class="collapse navbar-collapse tm-bg-white">
                <ul class="navbar-nav ml-auto align-items-lg-center">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Procedure" asp-action="MyProcedures">Procedures</a>
                    </li>

                    @if (User?.Identity?.IsAuthenticated ?? false)
                    {
                        var applicationUser = await userManager.GetUserAsync(User);
                        string fullName = $"{applicationUser.FirstName} {applicationUser.LastName}";

                        <li class="nav-item">
                            <a class="nav-link" asp-area="Identity" asp-page="/Account/Profile">
                                Hello, @fullName!
                            </a>
                        </li>

                        <li class="nav-item">
                            <form method="post"
                                  asp-area="Identity"
                                  asp-page="/Account/Logout"
                                  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"
                                  class="m-0">
                                <button type="submit" class="nav-link logout-link">
                                    Log Out
                                </button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a asp-area="Identity" asp-page="/Account/Login" class="nav-link">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="Identity" asp-page="/Account/Register" class="nav-link">Register</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="tm-footer text-center">
        <p>&copy; 2025 GlowCare | All rights reserved</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery-1.11.3.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/datepicker.min.js"></script>
    <script src="~/js/jquery.singlePageNav.min.js"></script>
    <script src="~/slick/slick.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
