@using GlowCare.ViewModels.Procedures
@model AddProcedureViewModel

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tm-main-content" id="top">
    <div class="tm-section tm-bg-img" id="tm-section-1">
        <div class="tm-bg-white ie-container-width-fix-2">
            <div class="container ie-h-align-center-fix">
                <div class="row">
                    <div class="col-xs-12 ml-auto mr-auto ie-container-width-fix">
                        @if (TempData["BookingSuccess"] != null)
                        {
                            <div class="alert alert-success">
                                @TempData["BookingSuccess"]
                            </div>
                        }

                        @if (TempData["BookingError"] != null)
                        {
                            <div class="alert alert-danger">
                                @TempData["BookingError"]
                            </div>
                        }
                        <form id="procedureForm" asp-action="Add" asp-controller="Procedure" method="post" class="tm-search-form tm-section-pad-2 booking-form">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="booking-grid">
                                <div class="booking-item">
                                    <div class="form-group tm-form-element tm-form-element-2">
                                        <select asp-for="EmployeeId"
                                                id="employeeSelect"
                                                class="form-control tm-select"
                                                asp-items="ViewBag.Employees">
                                            <option value="">Специалист</option>
                                        </select>
                                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                                        <i class="fa fa-2x fa-user tm-form-element-icon"></i>
                                    </div>
                                </div>

                                <div class="booking-item">
                                    <div class="form-group tm-form-element tm-form-element-2">
                                        <select asp-for="ServiceId"
                                                id="serviceSelect"
                                                class="form-control tm-select">
                                            <option value="">Процедура</option>
                                        </select>
                                        <span asp-validation-for="ServiceId" class="text-danger"></span>
                                        <i class="fa fa-2x fa-stethoscope tm-form-element-icon"></i>
                                    </div>
                                </div>

                                <div class="booking-item">
                                    <div class="form-group tm-form-element tm-form-element-2">
                                        <i class="fa fa-calendar fa-2x tm-form-element-icon"></i>
                                        <input id="dateInput" type="date" class="form-control" />
                                    </div>
                                </div>

                                <div class="booking-item">
                                    <div class="form-group tm-form-element tm-form-element-2">
                                        <i class="fa fa-2x fa-clock-o tm-form-element-icon"></i>
                                        <input id="timeInput" type="time" class="form-control" />
                                    </div>
                                </div>

                                <div class="booking-item booking-item-full">
                                    <div class="form-group tm-form-element tm-form-element-100 booking-notes-field">
                                        <i class="fa fa-2x fa-pencil tm-form-element-icon"></i>
                                        <textarea asp-for="Notes" class="form-control" placeholder="Бележки"></textarea>
                                        <span asp-validation-for="Notes" class="text-danger"></span>
                                    </div>
                                </div>

                                <input asp-for="AppointmentDate" type="hidden" id="appointmentDateHidden" />

                                <div class="booking-item booking-item-full booking-button-wrap">
                                    <button type="button" id="checkAvailabilityButton" class="btn btn-primary tm-btn-search booking-btn">
                                        ПРОВЕРИ ЗАЕТОСТ
                                    </button>
                                </div>
                            </div>
                        </form>

                        <div id="availabilityModal" style="display:none;"></div>
                    </div>

                    <div id="availabilityModal" style="display:none;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tm-section-2">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="tm-section-title">Ние сме тук, за да се погрижим за вашата кожа</h2>
                <p class="tm-color-white tm-section-subtitle">Абонирайте се, за да получавате полезни съвети, новини и специални предложения от GlowCare</p>
                <a href="#tm-section-6" class="tm-color-white tm-btn-white-bordered">Свържете се с нас</a>
            </div>
        </div>
    </div>
</div>

<div class="tm-section tm-position-relative">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="tm-section-down-arrow">
        <polygon fill="#45bb91" points="0,0  100,0  50,60"></polygon>
    </svg>
    <div class="container tm-pt-5 tm-pb-4">
        <div class="row text-center">
            <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
                <i class="fa tm-fa-6x fa-user-md tm-color-primary tm-margin-b-20"></i>
                <h3 class="tm-color-primary tm-article-title-1">Професионална грижа</h3>
                <p>В GlowCare работим с внимание към всеки пациент и подхождаме индивидуално според нуждите на кожата.</p>
                <a href="#tm-section-4" class="text-uppercase tm-color-primary tm-font-semibold">Научете повече</a>
            </article>
            <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
                <i class="fa tm-fa-6x fa-heartbeat tm-color-primary tm-margin-b-20"></i>
                <h3 class="tm-color-primary tm-article-title-1">Съвременни процедури</h3>
                <p>Предлагаме процедури за почистване, подмладяване, хидратация и грижа при различни кожни състояния.</p>
                <a href="#tm-section-4" class="text-uppercase tm-color-primary tm-font-semibold">Вижте услугите</a>
            </article>
            <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
                <i class="fa tm-fa-6x fa-comments tm-color-primary tm-margin-b-20"></i>
                <h3 class="tm-color-primary tm-article-title-1">Лесен контакт</h3>
                <p>Можете бързо да запишете час, да зададете въпрос или да се свържете с нас за консултация.</p>
                <a href="#tm-section-6" class="text-uppercase tm-color-primary tm-font-semibold">Свържете се с нас</a>
            </article>
        </div>
    </div>
</div>

<div class="tm-section tm-section-pad tm-bg-gray" id="tm-section-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
                <div class="tm-article-carousel">
                    <article class="tm-bg-white mr-2 tm-carousel-item">
                        <img src="img/img-01.jpg" alt="Почистване на лице" class="img-fluid">
                        <div class="tm-article-pad">
                            <header><h3 class="text-uppercase tm-article-title-2">Почистване на лице</h3></header>
                            <p>Професионално почистване за по-свежа, чиста и здрава кожа. Подходящо за редовна поддръжка и премахване на замърсявания.</p>
                            <a href="#" class="text-uppercase btn-primary tm-btn-primary">Научи повече</a>
                        </div>
                    </article>

                    <article class="tm-bg-white mr-2 tm-carousel-item">
                        <img src="img/img-02.jpg" alt="Химически пилинг" class="img-fluid">
                        <div class="tm-article-pad">
                            <header><h3 class="text-uppercase tm-article-title-2">Химически пилинг</h3></header>
                            <p>Процедура за подобряване на текстурата на кожата, освежаване на тена и намаляване на фините несъвършенства.</p>
                            <a href="#" class="text-uppercase btn-primary tm-btn-primary">Виж детайли</a>
                        </div>
                    </article>

                    <article class="tm-bg-white mr-2 tm-carousel-item">
                        <img src="img/img-01.jpg" alt="Микродермабразио" class="img-fluid">
                        <div class="tm-article-pad">
                            <header><h3 class="text-uppercase tm-article-title-2">Микродермабразио</h3></header>
                            <p>Нежна процедура за ексфолиране, която подпомага обновяването на кожата и ѝ придава по-гладък и сияен вид.</p>
                            <a href="#" class="text-uppercase btn-primary tm-btn-primary">Повече информация</a>
                        </div>
                    </article>

                    <article class="tm-bg-white mr-2 tm-carousel-item">
                        <img src="img/img-02.jpg" alt="Хидратираща терапия" class="img-fluid">
                        <div class="tm-article-pad">
                            <header><h3 class="text-uppercase tm-article-title-2">Хидратираща терапия</h3></header>
                            <p>Подходяща за суха и чувствителна кожа, за възстановяване на комфорта и естествения баланс.</p>
                            <a href="#" class="text-uppercase btn-primary tm-btn-primary">Научи повече</a>
                        </div>
                    </article>

                    <article class="tm-bg-white mr-2 tm-carousel-item">
                        <img src="img/img-01.jpg" alt="Анти-ейдж грижа" class="img-fluid">
                        <div class="tm-article-pad">
                            <header><h3 class="text-uppercase tm-article-title-2">Анти-ейдж грижа</h3></header>
                            <p>Специализирани процедури, насочени към подобряване на тонуса, свежестта и цялостния вид на кожата.</p>
                            <a href="#" class="text-uppercase btn-primary tm-btn-primary">Прочети още</a>
                        </div>
                    </article>

                    <article class="tm-bg-white tm-carousel-item">
                        <img src="img/img-02.jpg" alt="Консултация" class="img-fluid">
                        <div class="tm-article-pad">
                            <header><h3 class="text-uppercase tm-article-title-2">Индивидуална консултация</h3></header>
                            <p>Ще получите насоки и препоръки според типа кожа, състоянието ѝ и вашите цели.</p>
                            <a href="#" class="text-uppercase btn-primary tm-btn-primary">Запази час</a>
                        </div>
                    </article>
                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-recommended-container">
                <div class="tm-bg-white">
                    <div class="tm-bg-primary tm-sidebar-pad">
                        <h3 class="tm-color-white tm-sidebar-title">Защо GlowCare?</h3>
                        <p class="tm-color-white tm-margin-b-0 tm-font-light">Грижа, внимание и професионален подход към всяка кожа</p>
                    </div>
                    <div class="tm-sidebar-pad-2">
                        <a href="#" class="media tm-media tm-recommended-item">
                            <img src="img/tn-img-01.jpg" alt="Индивидуален подход">
                            <div class="media-body tm-media-body tm-bg-gray">
                                <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">Индивидуален подход</h4>
                            </div>
                        </a>
                        <a href="#" class="media tm-media tm-recommended-item">
                            <img src="img/tn-img-02.jpg" alt="Съвременни методи">
                            <div class="media-body tm-media-body tm-bg-gray">
                                <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">Съвременни методи</h4>
                            </div>
                        </a>
                        <a href="#" class="media tm-media tm-recommended-item">
                            <img src="img/tn-img-03.jpg" alt="Комфортна среда">
                            <div class="media-body tm-media-body tm-bg-gray">
                                <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">Комфортна среда</h4>
                            </div>
                        </a>
                        <a href="#" class="media tm-media tm-recommended-item">
                            <img src="img/tn-img-04.jpg" alt="Лесно записване">
                            <div class="media-body tm-media-body tm-bg-gray">
                                <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">Лесно записване на час</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tm-bg-video">
    <div class="overlay">
        <i class="fa fa-5x fa-play-circle tm-btn-play"></i>
        <i class="fa fa-5x fa-pause-circle tm-btn-pause"></i>
    </div>
    <video controls="" loop="" class="tmVideo">
        <source src="videos/video.mp4" type="video/mp4">
        <source src="videos/video.ogg" type="video/ogg">
        Вашият браузър не поддържа видео таг.
    </video>
    <div class="tm-section tm-section-pad tm-bg-img" id="tm-section-5">
        <div class="container ie-h-align-center-fix">
            <div class="row tm-flex-align-center">
                <div class="col-xs-12 col-md-12 col-lg-3 col-xl-3 tm-media-title-container">
                    <h2 class="text-uppercase tm-section-title-2">GlowCare</h2>
                    <h3 class="tm-color-primary tm-font-semibold tm-section-subtitle-2">Дерматологична грижа</h3>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-9 col-xl-9 mt-0 mt-sm-3">
                    <div class="ml-auto tm-bg-white-shadow tm-pad tm-media-container">
                        <article class="media tm-margin-b-20 tm-media-1">
                            <img src="img/img-03.jpg" alt="Диагностика на кожата">
                            <div class="media-body tm-media-body-1 tm-media-body-v-center">
                                <h3 class="tm-font-semibold tm-color-primary tm-article-title-3">Прецизна оценка на състоянието на кожата</h3>
                                <p>
                                    Всяка кожа има свои специфични нужди. В GlowCare се стремим да подберем най-подходящата грижа според състоянието, чувствителността и индивидуалните цели на пациента.
                                    <br><br>
                                    Нашият подход съчетава внимание към детайла, комфортна среда и насоки за дългосрочна поддръжка и здрав вид на кожата.
                                </p>
                            </div>
                        </article>

                        <article class="media tm-margin-b-20 tm-media-1">
                            <img src="img/img-04.jpg" alt="Персонализирана грижа">
                            <div class="media-body tm-media-body-1 tm-media-body-v-center">
                                <h3 class="tm-font-semibold tm-article-title-3">Персонализирани решения</h3>
                                <p>Подбираме процедури и грижи според типа кожа, нейните нужди и желания резултат, за да получите най-подходящото решение.</p>
                                <a href="#" class="text-uppercase tm-color-primary tm-font-semibold">Научи повече...</a>
                            </div>
                        </article>

                        <article class="media tm-margin-b-20 tm-media-1">
                            <img src="img/img-05.jpg" alt="Поддръжка и превенция">
                            <div class="media-body tm-media-body-1 tm-media-body-v-center">
                                <h3 class="tm-font-semibold tm-article-title-3">Поддръжка и превенция</h3>
                                <p>Редовната грижа и навременната консултация помагат за поддържане на здрава, свежа и добре изглеждаща кожа.</p>
                                <a href="#" class="text-uppercase tm-color-primary tm-font-semibold">Прочети още...</a>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tm-section tm-section-pad tm-bg-img tm-position-relative" id="tm-section-6">
    <div class="container ie-h-align-center-fix">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-7">
                <div id="google-map"></div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-5 mt-3 mt-md-0">
                <div class="tm-bg-white tm-p-4">
                    <form action="#" method="post" class="contact-form">
                        <div class="form-group">
                            <input type="text" id="contact_name" name="contact_name" class="form-control" placeholder="Име" required />
                        </div>
                        <div class="form-group">
                            <input type="email" id="contact_email" name="contact_email" class="form-control" placeholder="Имейл" required />
                        </div>
                        <div class="form-group">
                            <input type="text" id="contact_subject" name="contact_subject" class="form-control" placeholder="Тема" required />
                        </div>
                        <div class="form-group">
                            <textarea id="contact_message" name="contact_message" class="form-control" rows="9" placeholder="Вашето съобщение" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary tm-btn-primary">Изпрати съобщение</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        /* Google map
        ------------------------------------------------*/
        var map = '';
        var center;

        function initialize() {
            var mapOptions = {
                zoom: 13,
                center: new google.maps.LatLng(-23.013104,-43.394365),
                scrollwheel: false
            };

            map = new google.maps.Map(document.getElementById('google-map'),  mapOptions);

            google.maps.event.addDomListener(map, 'idle', function() {
              calculateCenter();
          });

            google.maps.event.addDomListener(window, 'resize', function() {
              map.setCenter(center);
          });
        }

        function calculateCenter() {
            center = map.getCenter();
        }

        function loadGoogleMap(){
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDVWt4rJfibfsEDvcuaChUaZRS5NXey1Cs&v=3.exp&sensor=false&' + 'callback=initialize';
            document.body.appendChild(script);
        }

        function setCarousel() {

            if ($('.tm-article-carousel').hasClass('slick-initialized')) {
                $('.tm-article-carousel').slick('destroy');
            }

            if($(window).width() < 438){
                // Slick carousel
                $('.tm-article-carousel').slick({
                    infinite: false,
                    dots: true,
                    slidesToShow: 1,
                    slidesToScroll: 1
                });
            }
            else {
             $('.tm-article-carousel').slick({
                    infinite: false,
                    dots: true,
                    slidesToShow: 2,
                    slidesToScroll: 1
                });
            }
        }

        function setPageNav(){
            if($(window).width() > 991) {
                $('#tm-top-bar').singlePageNav({
                    currentClass:'active',
                    offset: 79
                });
            }
            else {
                $('#tm-top-bar').singlePageNav({
                    currentClass:'active',
                    offset: 65
                });
            }
        }

        function togglePlayPause() {
            vid = $('.tmVideo').get(0);

            if(vid.paused) {
                vid.play();
                $('.tm-btn-play').hide();
                $('.tm-btn-pause').show();
            }
            else {
                vid.pause();
                $('.tm-btn-play').show();
                $('.tm-btn-pause').hide();
            }
        }

        $(document).ready(function(){

            $(window).on("scroll", function() {
                if($(window).scrollTop() > 100) {
                    $(".tm-top-bar").addClass("active");
                } else {
                    //remove the background property so it comes transparent again (defined in your css)
                   $(".tm-top-bar").removeClass("active");
                }
            });

            // Google Map
            loadGoogleMap();

            // Date Picker
            const pickerCheckIn = datepicker('#inputCheckIn');
            const pickerCheckOut = datepicker('#inputCheckOut');

            // Slick carousel
            setCarousel();
            setPageNav();

            $(window).resize(function() {
              setCarousel();
              setPageNav();
            });

            // Close navbar after clicked
            $('.nav-link').click(function(){
                $('#mainNav').removeClass('show');
            });

            // Control video
            $('.tm-btn-play').click(function() {
                togglePlayPause();
            });

            $('.tm-btn-pause').click(function() {
                togglePlayPause();
            });

            // Update the current year in copyright
            $('.tm-current-year').text(new Date().getFullYear());
        });

    </script>

    <partial name="_ValidationScriptsPartial" />

    <script>
        document.getElementById("checkAvailabilityButton").addEventListener("click", function () {
            var employeeId = document.getElementById("employeeSelect").value;
            var serviceId = document.getElementById("serviceSelect").value;
            var date = document.getElementById("dateInput").value;
            var time = document.getElementById("timeInput").value;

            if (!employeeId || !serviceId || !date || !time) {
                alert("Моля, попълнете всички полета!");
                return;
            }

            var dateTime = date + "T" + time;
            document.getElementById("appointmentDateHidden").value = dateTime;

            fetch(`/Procedure/CheckAvailability?employeeId=${employeeId}&serviceId=${serviceId}&dateTime=${encodeURIComponent(dateTime)}`, {
                credentials: "same-origin"
            })
                .then(response => {
                    if (response.redirected) {
                        window.location.href = "/Identity/Account/Login?returnUrl=" + encodeURIComponent("/Home/Index");
                        return null;
                    }

                    return response.text();
                })
                .then(html => {
                    if (!html) {
                        return;
                    }

                    var modal = document.getElementById("availabilityModal");
                    modal.innerHTML = html;
                    modal.style.display = "flex";
                })
                .catch(error => {
                    console.error(error);
                    alert("Възникна грешка при проверката.");
                });
        });

        document.getElementById("dateInput").addEventListener("change", updateAppointmentDate);
        document.getElementById("timeInput").addEventListener("change", updateAppointmentDate);

        function updateAppointmentDate() {
            var date = document.getElementById("dateInput").value;
            var time = document.getElementById("timeInput").value;

            if (date && time) {
                document.getElementById("appointmentDateHidden").value = date + "T" + time;
            }
        }

        function enablePicker(inputId) {
            var input = document.getElementById(inputId);

            if (!input) {
                return;
            }

            input.addEventListener("click", function () {
                if (this.showPicker) {
                    this.showPicker();
                }
            });

            input.addEventListener("focus", function () {
                if (this.showPicker) {
                    this.showPicker();
                }
            });
        }

        enablePicker("dateInput");
        enablePicker("timeInput");

        document.addEventListener("click", function (e) {
            if (e.target && e.target.id === "cancelButton") {
                document.getElementById("availabilityModal").style.display = "none";
            }

            if (e.target && e.target.id === "confirmBookButton") {
                document.getElementById("procedureForm").submit();
            }
        });
    </script>

    <script>
        document.getElementById("employeeSelect").addEventListener("change", function () {
            var employeeId = this.value;
            var serviceDropdown = document.getElementById("serviceSelect");

            serviceDropdown.innerHTML = '<option value="">Процедура</option>';

            if (!employeeId) return;

            fetch(`/Procedure/GetServicesByEmployee?employeeId=${employeeId}`)
                .then(response => response.json())
                .then(data => {
                    data.forEach(service => {
                        var option = document.createElement("option");
                        option.value = service.value;
                        option.text = service.text;
                        serviceDropdown.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error("Error:", error);
                });
        });
    </script>
}